/* CSS Variables */
:root {
    --blue: #192c58 !important;
    --red: #cf0a2C !important;
    --white: #fff;
    --gray: #9b9b9b !important;
    --gray-dark: #343a40;
    --primary: #192c58 !important;
    --secondary: #cf0a2C !important;
    --sans-serif: "museo-sans",Arial,Helvetica,sans-serif;
    --serif: "museo-slab",serif;
}

body {
    margin: 0;
    font-family: var(--sans-serif);
    font-size: 1rem;
    font-weight: 300;
    color: var(--primary);
    text-align: left;
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--sans-serif);
    font-weight: 700;
}

i {
    font-family: "FontAwesome";
    font-size: .75rem;
    color: var(--primary);
}

/* Buttons */
.btn,
.btn:hover,
.btn:active,
.btn:focus {
        box-shadow: none;
        border: 1px solid transparent;
        font-family: var(--sans-serif);
}

.btn-primary {
    background-color: var(--primary);

    &:hover,
    &:focus,
    &:active {
        background-color: var(--secondary)
    }
}

.btn-secondary {
    background-color: var(--secondary);
    
    &:hover,
    &:focus,
    &:active {
        background-color: var(--primary)
    }
}

.btn-lg {
    padding: .5rem 3rem;
}

.btn-link {
    color: var(--primary);
    font-weight: 700;

    &:hover,
    &:active,
    &:focus {
        color: var(--secondary);
        text-decoration: none;
    }
}

/* Lists */
ul, li {
    list-style-type: none;
}

/* Fonts */
.text-primary {
    color: var(--primary) !important;
}

.text-secondary {
    color: var(--secondary) !important;
}

.text-muted {
    font-weight: 500;
}


/* Cards */
.card {
    border: none;
}

/* Misc */
.bpg {

    margin: 3rem auto;

    hr {
        border-bottom: 0.25rem solid var(--secondary);
        margin: .25rem 0;
        max-width: 32%;
    }
}