/* CSS Variables */
:root {
  --blue: #192c58 !important;
  --red: #cf0a2c !important;
  --white: #fff;
  --gray: #9b9b9b !important;
  --gray-dark: #343a40;
  --primary: #192c58 !important;
  --primary-darken: #000c38;
  --secondary: #cf0a2c !important;
  --secondary-darken: #af0000;
  --gold: #d8a832;
  --gold-darken: #ad851f;
  --platinum: #9b9b9b;
  --platinum-darken: #6e6e6e;
  --elite: #192c58;
  --elite-darken: #000c38;
  --sans-serif: 'museo-sans', Arial, Helvetica, sans-serif;
  --serif: 'museo-slab', serif;
}

body {
  margin: 0;
  font-family: var(--sans-serif);
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: var(--primary);
  text-align: left;
  background-color: #fff;
}

h1 {
  font-weight: 700;
  font-family: var(--serif);
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: var(--sans-serif);
}

i {
  font-family: 'FontAwesome';
  font-size: 0.75rem;
  color: var(--primary);
}

small {
  font-size: 80%;

  @media (max-width: 767px) {
    font-size: 70%;
  }
}

strong {
  font-weight: bold;
}

.container,
.container-fluid {
  margin: 3rem auto 2rem;
}

/* Buttons */
.btn,
.btn:hover,
.btn:active,
.btn:focus {
  box-shadow: none;
  border: 1px solid transparent;
  font-family: var(--sans-serif);
  font-weight: 700;
}

.btn-primary {
  background-color: var(--primary);

  &:hover,
  &:focus,
  &:active {
    background-color: var(--primary-darken);
  }
}

.btn-secondary {
  background-color: var(--secondary);

  &:hover,
  &:focus,
  &:active {
    background-color: var(--secondary-darken);
  }
}

.btn-outline-light {
  &:hover,
  &:focus,
  &:active {
    background-color: #ffffff33;
    color: var(--white);
  }
}

.btn-gold {
  background-color: var(--gold);
  color: var(--white);
  &:hover,
  &:focus,
  &:active {
    background-color: var(--gold-darken);
  }
}

.btn-platinum {
  background-color: var(--platinum);
  color: var(--white);
  &:hover,
  &:focus,
  &:active {
    background-color: var(--platinum-darken);
  }
}

.btn-elite {
  background-color: var(--elite);
  color: var(--white);

  &:hover,
  &:focus,
  &:active {
    background-color: var(--elite-darken);
  }
}

.btn-lg {
  padding: 0.5rem 3rem;
}

.btn-link {
  color: var(--primary);
  font-weight: 700;

  &:hover,
  &:active,
  &:focus {
    color: var(--secondary);
    text-decoration: none;
  }
}

/* Lists */
ul,
li {
  list-style-type: none;
  line-height: 1.5;
}

.fa-square-full {
  color: var(--secondary);
}

/* Fonts */
.font-weight-bolder {
  font-weight: 500;
}

.text-primary {
  color: var(--primary) !important;
}

.text-secondary {
  color: var(--secondary) !important;
}

.text-muted {
  font-weight: 500;
}

.blockquote {
  font-size: 1.5rem;
}

/* Cards */
.card {
  border: none;
}

/* Misc */
.bpg {
  margin: 5rem auto;

  .d-inline-flex {
    flex-direction: column;
    align-items: flex-end;

    @media (max-width: 992px) {
      align-items: center;
    }
  }
}

.bg-gradient {
  background-image: linear-gradient(to right, #a7c6c1 0%, #dde8e6 100%);
}

hr.hr-secondary {
  border-bottom: 0.25rem solid var(--secondary);
  margin: 0.25rem 0;
  max-width: 32%;
}

.card-icon {
  align-self: center;
  height: 4rem;
}
