<header>
    <nav class="navbar navbar-expand-lg fixed-top">
        <a class="navbar-brand" routerLink="/home">
            <img src="../assets/uscca-logo.png">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="btn btn-link" routerLink="/membership">Membership</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-link" href="https://www.usconcealedcarry.com/resources/">Resources</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-link" href="https://www.usconcealedcarry.com/training/">Training</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-link" href="https://www.usconcealedcarry.com/contact/">Contact</a>
                </li>
            </ul>
            <p class="text-secondary text-center font-weight-bolder px-3 mb-0">
                Call Us 24/7:<br>
                <a class="btn btn-link text-secondary pt-0" href="tel:800-674-9779">800-674-9779</a>
            </p>
            <a href="https://www.usconcealedcarry.com/login/">
                <button class="btn btn-link" type="button">My Account</button>
            </a>
        </div>
    </nav>
</header>
<router-outlet></router-outlet>
<footer class="footer-container py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 offset-lg-2 col-md-5 offset-md-2 col-6">
        <p class="font-weight-bold">Membership</p>
        <ul class="pl-0 footer-ul font-weight-normal">
          <li class="mb-1"><a href="https://www.usconcealedcarry.com/membership/">Join USCCA Now</a></li>
          <li class="mb-1"><a href="https://www.usconcealedcarry.com/about/">About</a></li>
          <li class="mb-1"><a href="https://www.usconcealedcarry.com/contact/">Contact</a></li>
          <li class="mb-1"><a href="https://www.usconcealedcarry.com/testimonials/">Member Stories</a></li>
          <li class="mb-1"><a href="https://www.usconcealedcarry.com/attorneys/">Find An Attorney</a></li>
          <li class="mb-1"><a href="https://www.usconcealedcarry.com/login">Login</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-5 col-6">
        <p class="font-weight-bold">Resources</p>
        <ul class="pl-0 footer-ul font-weight-normal">
          <li class="mb-1"><a href="https://www.usconcealedcarry.com/store/">Shop
              USCCA</a></li>
          <li class="mb-1"><a href="https://www.usconcealedcarry.com/travel/">CCW
              Reciprocity Map</a></li>
          <li class="mb-1"><a href="https://www.usconcealedcarry.com/concealed-carry-magazine/">Concealed
              Carry
              Magazine</a></li>
          <li class="mb-1"><a href="https://www.usccainstructors.com/instructorlist.asp">Find
              A CCW Instructor</a></li>
          <li class="mb-1"><a href="http://usccaexpo.com/" target="_blank">USCCA
              Expo</a></li>
          <li class="mb-1"><a href="http://armedamericanradio.org/" target="_blank">Armed
              American Radio</a></li>
          <li class="mb-1"><a href="https://www.usconcealedcarry.com/womenscommunity/" target="_blank">Women's
              Community</a></li>
        </ul>
      </div>
      <div class="col-lg-2 offset-lg-0 col-md-5 offset-md-2 col-6">
        <p class="font-weight-bold">Blog</p>
        <ul class="pl-0 footer-ul font-weight-normal">
          <li class="mb-1"><a href="https://www.usconcealedcarry.com/category/self-defense-home-defense/">Self-Defense
              & Home Defense</a></li>
          <li class="mb-1"><a href="https://www.usconcealedcarry.com/category/women-guns/">Women
              & Guns</a></li>
          <li class="mb-1"><a href="https://www.usconcealedcarry.com/category/guns-gear/">Guns
              & Gear</a></li>
          <li class="mb-1"><a href="https://www.usconcealedcarry.com/category/true-stories/">True
              Stories</a></li>
          <li class="mb-1"><a href="https://www.usconcealedcarry.com/category/legal-second-amendment/">Legal
              & Second
              Amendment</a></li>
          <li class="mb-1"><a href="https://www.usconcealedcarry.com/category/news-current-events/">News
              & Current
              Events</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-5 col-6">
        <p class="font-weight-bold">Explore USCCA</p>
        <ul class="pl-0 font-weight-normal footer-ul">
          <li class="mb-1"><a href="https://www.usconcealedcarry.com/training/certified-instructor/">Become
              An
              Instructor</a></li>
          <li class="mb-1"><a href="https://www.usconcealedcarry.com/faq/">FAQs</a></li>
          <li class="mb-1"><a href="https://www.usconcealedcarry.com/press-room/">USCCA Press Room</a></li>
          <li class="mb-1"><a href="https://www.usconcealedcarry.com/winners-list/">Giveaway Winner's List</a></li>
          <li class="mb-1"><a href="https://www.usconcealedcarry.com/uscca-law-network/">Join USCCA Law Network</a></li>
          <li class="mb-1"><a href="https://www.usconcealedcarry.com/affiliates/" target="_blank">Become a USCCA Affiliate</a></li>
          <li class="mb-1"><a href="https://www.deltadefense.com/" target="_blank">Join Our Team</a></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <img class="footer-logo mx-auto d-block mt-5 mb-4" src="../assets/carry-confidence-logo.png">
      </div>
    </div>

    <div class="row">
      <div class="col">
        <p class="font-weight-bold text-center">We’re open 24/7, call us:
          800-674-9779</p>
        <p class="text-center mb-2">&copy; 2003-2018 Delta Defense, LLC. All
          Rights Reserved. Reproduction without permission prohibited. 
          <a href="https://www.usconcealedcarry.com/privacy-policy/">Privacy Policy. </a>
          <a href="https://www.usconcealedcarry.com/terms-of-use/">Terms of Use</a>.
        </p>
        <p class="text-center">USCCA | Delta Defense, LLC • 1000 Freedom Way, West Bend, WI 53095-4945</p>
      </div>
    </div>


  </div>
</footer>
