<div class="jumbotron-fluid">
    <div class="container d-flex">
        <div class="row">
            <div class="col-md-5">
                <h6 class="font-weight-bold">You Protect Them, We Protect You...</h6>
                <h1>Self-Defense Education, Training, & Legal Protection</h1>
                <h6 class="font-weight-bold">For Responsible Gun Owners</h6>
                <button class="btn btn-secondary btn-lg mt-5">Join USCCA Now</button>
                <p><small>100% Peace of Mind Starts Here</small></p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <p class="text-primary my-4">
        You want safety and security for your family. You’d do anything to protect them. But, did you know that you’re still vulnerable to criminal charges and financial ruin - even if you did everything right? Your USCCA membership arms you with the self-defense education, training, and legal protection you need to protect your family with confidence. Because, after all, doing the right thing shouldn’t cost you everything…
    </p>
</div>

<!-- Content Section header & subheader -->
<div class="container">
    <div class="row">
        <div class="col text-center my-4">
            <i class="fa fa-star mx-3" aria-hidden="true"></i>
            <i class="fa fa-star mx-3" aria-hidden="true"></i>
            <i class="fa fa-star mx-3" aria-hidden="true"></i>
            <i class="fa fa-star mx-3" aria-hidden="true"></i>
            <i class="fa fa-star mx-3" aria-hidden="true"></i>
        </div>
    </div>
    <h3 class="text-center">Your 3-Step Plan To Becoming A Confident And Responsible Gun Owner Today
        <small class="d-block my-3 text-muted">It’s Easier Than You Think</small>
    </h3>
</div>
<!-- end header/subheader -->

<!-- 3 Card group -->
<div class="container">
    <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="../../assets/get-protected.png" alt="Get Protected">
            <div class="card-body">
                <h5 class="card-title text-secondary">Step 1</h5>
                <h4 class="card-title">Get Protected</h4>
                <p class="card-text">Become A USCCA Member By Choosing The Level Of Self-Defense SHIELD Protection That’s Right For You</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="../../assets/rest-assured.png" alt="Rest Assured">
            <div class="card-body">
                <h5 class="card-title text-secondary">Step 2</h5>
                <h4 class="card-title">Rest Assured</h4>
                <p class="card-text">Protect Your Family With Complete Peace Of Mind Knowing The USCCA Has Your Back Before, During, And After A Deadly Force Incident</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="../../assets/sharpen-your-skills.png" alt="Sharpen Your Skills">
            <div class="card-body">
                <h5 class="card-title text-secondary">Step 3</h5>
                <h4 class="card-title">Sharpen Your Skills</h4>
                <p class="card-text">Continue Your Training With Your Subscription To Concealed Carry Magazine And Thousands Of Online Videos & Articles</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <button class="btn btn-secondary btn-lg my-4">Join USCCA Now</button>
        </div>
    </div>
</div>
<!-- end 3 Card group -->

<!-- Content Section header & subheader -->
<div class="container">
    <div class="row">
        <div class="col text-center my-4">
            <i class="fa fa-star mx-3" aria-hidden="true"></i>
            <i class="fa fa-star mx-3" aria-hidden="true"></i>
            <i class="fa fa-star mx-3" aria-hidden="true"></i>
            <i class="fa fa-star mx-3" aria-hidden="true"></i>
            <i class="fa fa-star mx-3" aria-hidden="true"></i>
        </div>
    </div>
    <h3 class="text-center">Sleep Better Tonight Knowing You're Shielded From The Uncertain Aftermath Of Self-Defense
        <small class="d-block my-3 text-muted">Uncover The Risk Behind Carrying A Firearm</small>
    </h3>
</div>
<!-- end header/subheader -->