<!-- Hero Banner -->
<div class="jumbotron-fluid hero">
  <div class="container d-flex my-0">
    <div class="row">
      <div class="col-md-6 ml-4">
        <h6 class="font-weight-bold">USCCA Membership</h6>
        <h1>Self-Defense Education, Training, & Legal Protection</h1>
        <h6 class="font-weight-bold">For Responsibly Armed Americans</h6>
        <button routerLink="/membership" type="button" class="btn btn-secondary btn-lg mt-4">Join USCCA Now</button>
        <p><small>100% Peace of Mind Starts Here</small></p>
      </div>
    </div>
  </div>
</div>
<!-- End Hero Banner -->

<div class="container">
  <p class="text-center">
    You want safety and security for your family, but as a responsibly armed American you realize that means much more
    than just owning a gun.
  </p>
  <p class="text-center">
    USCCA Membership brings you industry-leading education, training & the trusted legal protection you need to <strong>carry
      with confidence</strong>. Join over 285,000 gun owners who've used the U.S. Concealed Carry Association to
    transform themselves into a
    community of responsibly armed Americans and <strong>finally get the peace of mind you've been searching for.</strong>
  </p>
</div>

<!-- Content Section header & subheader -->
<div class="container">
  <div class="row">
    <div class="col text-center my-4">
      <i class="fa fa-star mx-3" aria-hidden="true"></i>
      <i class="fa fa-star mx-3" aria-hidden="true"></i>
      <i class="fa fa-star mx-3" aria-hidden="true"></i>
      <i class="fa fa-star mx-3" aria-hidden="true"></i>
      <i class="fa fa-star mx-3" aria-hidden="true"></i>
    </div>
  </div>
  <h3 class="text-center">Your 3-Step Plan To Becoming A Confident & Responsible Gun Owner Today
    <small class="d-block my-4 text-muted">It’s Easier Than You Think</small>
  </h3>
</div>
<!-- end header/subheader -->
<!-- 3 Card group -->
<div class="container">
  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="../../assets/MemberCard.png" alt="Join USCCA">
      <div class="card-body">
        <h5 class="card-title text-secondary">Step 1</h5>
        <h4 class="card-title">Join USCCA</h4>
        <p class="card-text">Join A Community Of Like-Minded Patriots &amp; An Organization That's Fiercely Committed
          To Your Freedom</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../assets/sharpen-your-skills.png" alt="Train & Prepare">
      <div class="card-body">
        <h5 class="card-title text-secondary">Step 2</h5>
        <h4 class="card-title">Train & Prepare</h4>
        <p class="card-text">Have One Trusted Source For Self-Defense Education, Training & Up To $2,250,000 In Legal
          Protection</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../../assets/rest-assured.png" alt="Carry Confidence">
      <div class="card-body">
        <h5 class="card-title text-secondary">Step 3</h5>
        <h4 class="card-title">Carry Confidence</h4>
        <p class="card-text">Enjoy Peace Of Mind Knowing EXACTLY What To Do Before, During, & After A Self-Defense
          Incident To Keep Your Family Safe</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <button routerLink="/membership" type="button" class="btn btn-secondary btn-lg mt-4">Join USCCA Now</button>
    </div>
  </div>
</div>
<!-- end 3 Card group -->

<!-- Content Section header & subheader -->
<div class="container">
  <div class="row">
    <div class="col text-center my-4">
      <i class="fa fa-star mx-3" aria-hidden="true"></i>
      <i class="fa fa-star mx-3" aria-hidden="true"></i>
      <i class="fa fa-star mx-3" aria-hidden="true"></i>
      <i class="fa fa-star mx-3" aria-hidden="true"></i>
      <i class="fa fa-star mx-3" aria-hidden="true"></i>
    </div>
  </div>
  <h3 class="text-center">
    All USCCA Members Get Instant Access To:
  </h3>
</div>
<!-- end header/subheader -->
<!-- 6 Card group -->
<div class="container member-access">
  <div class="row">
    <div class="card-deck">
      <div class="card">
        <img class="card-icon d-none d-md-block" src="../../assets/ccm_icon.png" alt="">
        <div class="card-body">
          <h5 class="card-title font-weight-bold">Concealed Carry Magazine</h5>
          <p class="card-text">Get true stories, concealed carry tips, and unbiased gear
            reviews delivered to your front door 8 times per year</p>
        </div>
      </div>
      <div class="card">
        <img class="card-icon d-none d-md-block" src="../../assets/education_icon.png" alt="">
        <div class="card-body">
          <h5 class="card-title font-weight-bold">Industry Leading Education</h5>
          <p class="card-text">Get lifesaving guide & checklists, your CCW reciprocity map, and
            weekly updates on news and changing laws</p>
        </div>
      </div>
      <div class="card">
        <img class="card-icon d-none d-md-block" src="../../assets/training_icon.png" alt="">
        <div class="card-body">
          <h5 class="card-title font-weight-bold">First-Class Training</h5>
          <p class="card-text">Explore your online video library, receive weekly training drills, or train in person
            with a USCCA Certified Instructor</p>
        </div>
      </div>
      <div class="w-100"></div>
      <div class="card">
        <img class="card-icon d-none d-md-block" src="../../assets/legal_icon.png" alt="">
        <div class="card-body">
          <h5 class="card-title font-weight-bold">Trusted Legal Protection</h5>
          <p class="card-text">Enjoy peace of mind knowing your Critical Response Team and up to $2,250,000 in
            Self-Defense SHIELD Protection are just one call away</p>
        </div>
      </div>
      <div class="card">
        <img class="card-icon d-none d-md-block" src="../../assets/community_icon.png" alt="">
        <div class="card-body">
          <h5 class="card-title font-weight-bold">USCCA Community</h5>
          <p class="card-text">Make a difference with the USCCA's Community Giving Program, meet like-minded patriots
            on our Facebook page & receive
            free entry into the Concealed Carry Expo</p>
        </div>
      </div>
      <div class="card">
        <img class="card-icon d-none d-md-block" src="../../assets/member_icon.png" alt="">
        <div class="card-body">
          <h5 class="card-title font-weight-bold">Exclusive Member Perks</h5>
          <p class="card-text">Receive your Carry Confidence Kit and huge discounts on training, gear, and USCCA Spouse
            Membership</p>
        </div>
      </div>
    </div>
  </div><!-- end row -->

  <div class="row">
    <div class="col">
      <h5 class="my-4 text-center text-muted">New Benefits Added Every Year</h5>
    </div>
  </div>

  <div class="row">
    <div class="col text-center">
      <button routerLink="/membership" type="button" class="btn btn-secondary btn-lg mt-4">Join USCCA Now</button>
    </div>
  </div>
</div>
<!-- end Card group -->

<!-- BPG -->
<div class="container bpg">
  <div class="row">
    <div class="col-lg-4 d-inline-flex">
      <img class="d-block w-50 pb-4" src="../../assets/bp-logo-normal.png" alt="Bullet Proof Guarantee">
    </div>
    <div class="col-lg-6">
      <p class="mb-2"><strong>Your USCCA Membership is 100% risk-free</strong> with our 365-day, money-back guarantee.
        Simply call our Wisconsin-based USCCA Team and you’ll receive a prompt and courteous refund, no questions
        asked.</p>
      <div class="pl-0">
        <img class="d-none d-lg-block float-left pr-4" src="../../assets/tim-bpg.jpg" alt="Tim Schmidt">
        <img src="../../assets/tim-signature.png" alt="">
        <h6>Tim Schmidt, President | USCCA</h6>
        <hr class="hr-secondary">
      </div>
    </div>
  </div>
</div>
<!-- End BPG -->

<!-- Full width Community -->
<div class="jumbotron-fluid community">
  <div class="container mb-0">
    <div class="row">
      <div class="col d-none d-md-inline-flex">
        <img src="../../assets/SteveMorganNormal.png">
      </div>
      <div class="col col-lg-6 d-flex py-4">
        <h3>Every USCCA Member Is Making A Difference</h3>
        <p>
          A Portion Of Every Membership Goes To Providing Lifesaving Training To Your Community
          <span>
            <hr class="hr-secondary"></span>
        </p>
        <p>
          By activating your USCCA Membership today, you're providing lifesaving training and resources to communities
          across the country. Whether it's
          donating educational materials to local libraries, preparing teachers to protect our students, or taking a
          group of domestic violence victims
          to the range...you're making an impact.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- End Full Width Container -->


<div class="container">
  <div class="row">
    <div class="col text-center my-4">
      <i class="fa fa-star mx-3" aria-hidden="true"></i>
      <i class="fa fa-star mx-3" aria-hidden="true"></i>
      <i class="fa fa-star mx-3" aria-hidden="true"></i>
      <i class="fa fa-star mx-3" aria-hidden="true"></i>
      <i class="fa fa-star mx-3" aria-hidden="true"></i>
    </div>
  </div>
  <h3 class="text-center">Join Over 285,000 Armed Americans Who Trust The USCCA</h3>
</div>
<!-- 3 Card Group -->
<div class="container members">
  <div class="card-deck">
    <div class="card">
      <div class="card-body text-center">
        <img class="d-inline-flex mb-3" src="../../assets/JeffNormal.png" alt="Jeff">
        <p class="card-title">Joined For The Concealed Carry Community</p>
        <blockquote class="text-left">
          <p class="card-text"><em>"I love that being a member of the USCCA has broadened my scope (pun intended) on
              the concealed carry lifestyle and the concealed carry community. Ultimately, this community of members
              has a oneness in thinking and therefore makes us one big family."</em></p>
          <p>- Jeff P. | North Carolina</p>
        </blockquote>
      </div>
    </div>
    <div class="card">
      <div class="card-body text-center">
        <img class="d-inline-flex mb-3" src="../../assets/SaraNormal.png" alt="Sara">
        <p class="card-title">Joined For The Training & Peace Of Mind</p>
        <blockquote class="text-left">
          <p class="card-text"><em>"As a school shooting survivor I made a vow to myself to never again be a
              defenseless sitting duck waiting to die. I made a commitment to myself, my family, and the general public
              that I was going to be a defense against evil."</em></p>
          <p>- Sara D. | Nebraska</p>
        </blockquote>
      </div>
    </div>
    <div class="card">
      <div class="card-body text-center">
        <img class="d-inline-flex mb-3" src="../../assets/MikeNormal.png" alt="Mike">
        <p class="card-title">Joined For The Education & Confidence</p>
        <blockquote class="text-left">
          <p class="card-text"><em>"I joined this organization because I felt it offered what I wanted most - good,
              sound continuing education...It helps me feel more self-assured and self-confident when I carry my
              weapon."</em></p>
          <p>- Mike R. | Utah</p>
        </blockquote>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <button class="btn btn-secondary btn-lg">Join USCCA Now</button>
    </div>
  </div>
</div>
<!-- end 3 card group -->

<!-- Content Section header & subheader -->
<div class="container">
  <div class="row">
    <div class="col text-center my-4">
      <i class="fa fa-star mx-3" aria-hidden="true"></i>
      <i class="fa fa-star mx-3" aria-hidden="true"></i>
      <i class="fa fa-star mx-3" aria-hidden="true"></i>
      <i class="fa fa-star mx-3" aria-hidden="true"></i>
      <i class="fa fa-star mx-3" aria-hidden="true"></i>
    </div>
  </div>
  <h3 class="text-center">Stay In The Know With Our Most Popular Articles, Videos & Training</h3>
</div>
<!-- end header/subheader -->
<!-- 3 Card group - blog posts -->
<div class="container">
  <div class="card-deck blog-posts">
    <div class="card" id="blog-post-0">
      <img class="card-img-top img-fluid" src="https://via.placeholder.com/225x150" alt="">
      <div class="card-body pl-0">
        <h5 class="card-title"><a href="/">Title</a></h5>
        <p class="card-text">By <span class="blog-post-author"></span></p>
      </div>
    </div>
    <div class="card d-none d-md-block" id="blog-post-1">
      <img class="card-img-top img-fluid" src="https://via.placeholder.com/225x150" alt="">
      <div class="card-body pl-0">
        <h5 class="card-title"><a href="/">Title</a></h5>
        <p class="card-text">By <span class="blog-post-author"></span></p>
      </div>
    </div>
    <div class="card d-none d-md-block" id="blog-post-2">
      <img class="card-img-top img-fluid" src="https://via.placeholder.com/225x150" alt="">
      <div class="card-body pl-0">
        <h5 class="card-title"><a href="/">Title</a></h5>
        <p class="card-text">By <span class="blog-post-author"></span></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <button class="btn btn-primary btn-lg mt-4">Read USCCA Blog</button>
    </div>
  </div>
</div>
<!-- end 3 Card group -->

<!-- Hero Banner - Testimonial -->
<div class="jumbotron-fluid testimonial">
  <div class="container d-flex my-0">
    <div class="row">
      <div class="col-md-6 text-white ml-4">
        <blockquote class="blockquote">
          <p><em>“You’ve got to be prepared for anything, anytime, anywhere… I felt I was able to do the right thing
              and be protected as a <span class="text-nowrap">law-abiding citizen…”</span></em></p>
        </blockquote>
        <h6 class="mb-0 mt-5">David Jackson, South Carolina</h6>
        <p><small>Shot Armed Robbers Who Threatened The Lives Of Innocent Barbershop Patrons And His Frightened
            Children…</small></p>
        <button class="btn btn-outline-light border-light btn-lg mt-4">See USCCA In Action <i class="fa fa-chevron-right text-white ml-2"></i></button>
      </div>
    </div>
  </div>
</div>
<!-- End Hero Banner -->

<!-- Content Section header & subheader -->
<div class="container">
  <div class="row">
    <div class="col text-center my-4">
      <i class="fa fa-star mx-3" aria-hidden="true"></i>
      <i class="fa fa-star mx-3" aria-hidden="true"></i>
      <i class="fa fa-star mx-3" aria-hidden="true"></i>
      <i class="fa fa-star mx-3" aria-hidden="true"></i>
      <i class="fa fa-star mx-3" aria-hidden="true"></i>
    </div>
  </div>
  <h3 class="text-center">Join Now For Complete Peace Of Mind</h3>
  <div class="row">
    <div class="col text-center">
      <button routerLink="/membership" type="button" class="btn btn-secondary btn-lg mt-4">Join USCCA Now</button>
    </div>
  </div>
</div>
<!-- end header/subheader -->

<!-- BPG -->
<div class="container bpg">
  <div class="row">
    <div class="col-lg-4 d-inline-flex">
      <img class="d-block w-50 pb-4" src="../../assets/bp-logo-normal.png" alt="Bullet Proof Guarantee">
    </div>
    <div class="col-lg-6">
      <p class="mb-2"><strong>Your USCCA Membership is 100% risk-free</strong> with our 365-day, money-back guarantee.
        Simply call our Wisconsin-based USCCA Team and you’ll receive a prompt and courteous refund, no questions
        asked.</p>
      <div class="pl-0">
        <img class="d-none d-lg-block float-left pr-4" src="../../assets/tim-bpg.jpg" alt="Tim Schmidt">
        <img src="../../assets/tim-signature.png" alt="">
        <h6>Tim Schmidt, President | U.S. Concealed Carry Association</h6>
        <hr class="hr-secondary">
      </div>
    </div>
  </div>
</div>
<!-- End BPG -->
