.fa-chevron-right {
    font-size: large;
    vertical-align: middle;
}

/* Full width Container */
.jumbotron-fluid {
    margin-bottom: 3rem;
    border-bottom: 1rem solid var(--secondary);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Full width hero */
.hero {
    background-image: url("../../assets/cover-image-father-daughter.png");

    .col-5 {
        padding: 5rem 0;
    }
}

/* Full width testimonial */ 
.testimonial {
    background-image: url("../../assets/david-bg.png");

    .blockquote {
        font-size: 1.5rem;
    }

    .col-5 {
        padding: 8rem 0;
    }

}
