.fa-chevron-right {
    font-size: large;
    vertical-align: middle;
}

/* Full width Container */
.jumbotron-fluid {
    background-repeat: no-repeat;
    background-size: cover;
}

/* Full width hero */
.hero {
    margin-bottom: 3rem;
    background-image: linear-gradient(to right, rgb(167, 198, 193) 0%,  rgb(221, 232, 230) 100%);
    
    .col-md-6 {
        padding: 2rem 0;
    }

    @media (min-width: 768px) {
        background-image: url("../../assets/cover-image-father-daughter.png");
    
        .col-md-6 {
            padding: 6rem 0;
        }
    }
}

/* Full width testimonial */ 
.testimonial {
    margin-top: 3rem;
    background-image: url("../../assets/david-bg.png");

    @media (max-width: 767px) {
        .container {
            background-color: #000000a0;
            min-width: 100%;
        }
        .col-md-6 {
            padding: 2rem;
        }
    }

    @media (min-width: 768px) {
        .col-md-6 {
            padding: 6rem 0;
        }
    }
}

/* Full width community */
.community {
    margin-bottom: 3rem;
    background: linear-gradient(to right, #B5CFCA 0%, rgb(221, 232, 230) 100%);

    .d-inline-flex{
        justify-content: center;
    }

    .d-flex {
        flex-direction: column;
        justify-content: center;
    }
}
