.fa-chevron-right {
    font-size: large;
    vertical-align: middle;
}

/* Full width Container */
.jumbotron-fluid {
    background-repeat: no-repeat;
    background-size: cover;
}

/* Full width hero */
.hero {
    margin-bottom: 3rem;
    background-image: linear-gradient(to right, rgb(167, 198, 193) 0%,  rgb(221, 232, 230) 100%);
    
    .col-md-6 {
        padding: 2rem 0;
    }

    @media (min-width: 768px) {
        background-image: url("../../assets/cover-image-father-daughter.png");
    
        .col-md-6 {
            padding: 6rem 0;
        }
    }
}

/* Full width testimonial */ 
.testimonial {
    margin: 3rem 0 2rem;
    background-image: url("../../assets/david-bg.png");

    @media (max-width: 767px) {
        .container {
            background-color:#101010aa;
            min-width: 100%;
        }
        .col-md-6 {
            padding: 2rem;
        }
    }

    @media (min-width: 768px) {
        .col-md-6 {
            padding: 6rem 0;
        }
    }
}

/* Full width community */
.community {
    margin: 3rem 0 2rem;
    background: linear-gradient(to right, #a7c6c1 0%, #dde8e6 100%);
    
    h3 {
        font-size: 1.5rem;

        @media (min-width: 768px) {
            font-size: 1.75rem;
        }
    }

    p {
        font-weight: 500;
    }

    .d-md-inline-flex{
        justify-content: center;
    }

    .d-flex {
        flex-direction: column;
        justify-content: center;
    }
}

.member-access {
    text-align: center;
    
    @media (max-width: 767px) {
        text-align: left;
        margin-top: 0;
        
        .card-body {
            padding: .25rem 1rem;
        }

        .card-title {
            margin-bottom: .25rem;
        }
    }
}

.members .card-title {
    text-align: center;
    color: var(--secondary);
    font-weight: 500;
}