.card-deck {
  @media (max-width: 768px) {
    flex-direction: column-reverse;
  }
}
.card-img-top {
  width: 3.5rem;
}
.card-body {
  padding-top: 0.75rem;
  flex: none;
  .fa {
    transition: 0.2s transform ease-in-out;
  }
  .collapsed .fa {
    transform: rotate(180deg);
  }
}
.card-border {
  border: 1px solid;
  border-radius: 0;

  &--gold {
    border-color: var(--gold);
  }
  &--platinum {
    border-color: var(--platinum);
  }
}
.horizontal-line {
  width: 6rem;
  border: 1px solid;
  margin-left: auto;
  margin-right: auto;
  &--gold {
    border-color: var(--gold);
  }
  &--platinum {
    border-color: var(--platinum);
  }
}
.monthly-cost {
  font-size: 1.2rem;
}
.fa-check {
  color: #85bb65;
}
.fa-ul {
  margin-left: 1.5rem;
}
li {
  line-height: 1.25;
  margin-bottom: 1rem;
}
.hr-secondary {
  width: 8rem;
}
