<!-- Content Section header & subheader -->
<div class="container">
    <div class="row">
        <div class="col text-center my-4">
            <i class="fa fa-star mx-3" aria-hidden="true"></i>
            <i class="fa fa-star mx-3" aria-hidden="true"></i>
            <i class="fa fa-star mx-3" aria-hidden="true"></i>
            <i class="fa fa-star mx-3" aria-hidden="true"></i>
            <i class="fa fa-star mx-3" aria-hidden="true"></i>
        </div>
    </div>
    <h6 class="text-secondary text-uppercase text-center">USCCA Membership: Made For Responsible Gun Owners</h6>
    <h3 class="text-center">
        Choose The Level Of Protection That's Right For You...
    </h3>
    <h6 class="text-center mt-3 text-muted">Every level of USCCA Membership is built to give you carry confidence – for increased education, training, and legal protection simply choose a higher level</h6>
</div>
<!-- end header/subheader -->
    
<div class="container">
<div class="card-deck">
  <!--Gold Membership -->
  <div class="card">
    <img class="card-img-top mx-auto" src="../assets/uscca-logo.png" alt="Card image cap">
    <div class="card-body text-center mb-0">
      <h5 class="card-title text-center text-uppercase mb-1">Gold <span class="font-weight-light">Membership</span></h5>
      <div class="horizontal-line horizontal-line--gold mb-2"></div>
      <h6 class="monthly-cost text-center text-uppercase mb-0">$27/Month</h6>
      <p class="card-text text-center text-uppercase mb-2">$247/Year</p>

      <button class="btn btn-gold btn-membership btn-block text-uppercase">Get Gold</button>
    </div>

    <div class="card card-border card-border--gold mb-1 flex-none">

      <div class="card-body">
        <div class="d-block text-center"><i class="fas fa-bullseye fa-3x" aria-hidden="true"></i></div>
        <h6 class="text-center text-uppercase mb-0">$500,000</h6>
        <p class="text-center font-weight-light font-italic">in Self-Defense SHIELD Protection</p>


        <ul class="fa-ul">
          <li><span class="fa-li"><i class="fas fa-check fa-sm" aria-hidden="true"></i></span>Complete Print +
            Digital Subscription (8 issues per Year)</li>

          <li><span class="fa-li"><i class="fas fa-check fa-sm" aria-hidden="true"></i></span>Complete Online
            Access To 1 Year of Back Issues</li>
        </ul>

      </div>
    </div>


    <div class="accordion" id="accordionTwo">
      <div class="card card-border card-border--gold mb-1">
        <div id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
              aria-controls="collapseOne">
              Concealed Carry Magazine
            </button>
          </h5>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne">
          <div class="card-body">

            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check fa-sm" aria-hidden="true"></i></span>Complete Print +
                Digital Subscription (8 issues per Year)</li>

              <li><span class="fa-li"><i class="fas fa-check fa-sm" aria-hidden="true"></i></span>Complete Online
                Access To 1 Year of Back Issues</li>
            </ul>

          </div>
        </div>
      </div>
      <div class="card card-border card-border--gold mb-1">
        <div id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
              aria-expanded="false" aria-controls="collapseTwo">
              Education
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo">
          <div class="card-body">
            <ul class="fa-ul">

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Online Access to
                20 Guides and eBooks</li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>CCW Permit &
                Reciprocity Map</li>
              <li class="ml-3"><i class="fa-li fas fa-square" aria-hidden="true"></i>Notification of CCW Permit
                Expiration</li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Exclusive App Features</li>
              <li class="ml-3"><i class="fa-li fas fa-square" aria-hidden="true"></i>Customizable CCW Map</li>
              <li class="ml-3"><i class="fa-li fas fa-square" aria-hidden="true"></i>CCW Alerts When Crossing State
                Lines</li>
              <li class="ml-3"><i class="fa-li fas fa-square" aria-hidden="true"></i>Bookmarked Attorney Contact
                Information</li>
              <li class="ml-3"><i class="fa-li fas fa-square" aria-hidden="true"></i>"Find an Attorney" Map</li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Weekly eNewsletters</li>
              <li class="ml-3 font-italic"><i class="fa-li fas fa-square" aria-hidden="true"></i>Concealed Carry Report</li>
              <li class="ml-3 font-italic"><i class="fa-li fas fa-square" aria-hidden="true"></i>Into The Fray</li>
              <li class="ml-3 font-italic"><i class="fa-li fas fa-square" aria-hidden="true"></i>Pacifiers &
                Peacemakers</li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>10+ Lifesaving Checklists</li>

            </ul>
          </div>
        </div>
      </div>
      <div class="card card-border card-border--gold mb-1">
        <div id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
              aria-expanded="false" aria-controls="collapseThree">
              Training
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree">
          <div class="card-body">

            <ul class="fa-ul">

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Weekly Training Drills</li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Live Training Broadcasts
                <br>
                <span class="font-italic">4 Times per Year</span></li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Online Video Library</li>
              <li class="ml-3"><i class="fa-li fas fa-square" aria-hidden="true"></i>Complete Proving Ground Video
                Series</li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Access to USCCA Certifed Instructor
                Network</li>

            </ul>

          </div>
        </div>
      </div>

      <div class="card card-border card-border--gold mb-1">
        <div id="headingFour">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour"
              aria-expanded="false" aria-controls="collapseFour">
              Legal Protection*
            </button>
          </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour">
          <div class="card-body">

            <ul class="fa-ul">

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>500,000 in
                Self-Defense SHIELD Protection <span class="font-weight-light font-italic">Defense &amp; Damages</span></li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>$100,000 in
                Self-Defense SHIELD Protection <span class="font-weight-light font-italic">Criminal Defense, Bail Bond
                  Funding, Attorney Retainer</span></li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>24/7/365 Critical Response Team</li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Your Choice of Attorney or Access
                to USCCA Attorney Network</li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>100% Up-Front Protection for All Legal
                Weapons of Opportunity
                <br>
                <span class="font-weight-light font-italic">(No Deductible, No Reimbursement)</span>
              </li>

            </ul>

          </div>
        </div>
      </div>

      <div class="card card-border card-border--gold mb-1">
        <div id="headingFive">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive"
              aria-expanded="false" aria-controls="collapseFive">
              USCCA Community
            </button>
          </h5>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive">
          <div class="card-body">

            <ul class="fa-ul">

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Community Giving
                Program
                <br>
                <span class="font-italic">1% of Your Membership Donated</span></li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Invitation to Join Private USCCA
                Member Facebook Group</li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>24/7 Access to Expert Member
                Services Team</li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Free Daily Entry to Annual USCCA Concealed
                Carry Expo</li>

            </ul>

          </div>
        </div>
      </div>

      <div class="card card-border card-border--gold mb-1">
        <div id="headingSix">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix"
              aria-expanded="false" aria-controls="collapseSix">
              Member Perks
            </button>
          </h5>
        </div>
        <div id="collapseSix" class="collapse" aria-labelledby="headingSix">
          <div class="card-body">

            <ul class="fa-ul">

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Carry Confidence Kit
                <br>
                <span class="font-italic">Mailed Within 1 Business Day</span></li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Discounts from Education, Training &
                Equipment Partners</li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Discount on Elite Spouse Membership</li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Member Discounts on USCCA
                Books, DVDs & Training Materials</li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Early Bird Access to All Newly
                Released USCCA Products</li>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Platinum Membership -->
  <div class="card">
    <img class="card-img-top mx-auto" src="../assets/uscca-logo.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title text-center text-uppercase mb-1">Platinum <span class="font-weight-light">Membership</span></h5>
      <div class="horizontal-line horizontal-line--platinum mb-2"></div>
      <h6 class="monthly-cost text-center mb-0">$30/Month</h6>
      <p class="card-text text-center text-uppercase mb-2">$347/Year</p>

      <button class="btn btn-platinum btn-membership btn-block text-uppercase">Get Platinum</button>
    </div>

    <div class="card card-border card-border--platinum mb-1 flex-none">

      <div class="card-body">
        <div class="d-block text-center"><i class="fas fa-bullseye fa-3x" aria-hidden="true"></i></div>
        <h6 class="text-center text-uppercase mb-0">$1,000,000</h6>
        <p class="text-center font-weight-light font-italic">in Self-Defense SHIELD Protection</p>


        <ul class="fa-ul">
          <li><span class="fa-li"><i class="fas fa-check fa-sm" aria-hidden="true"></i></span>Complete Print +
            Digital Subscription (8 issues per Year)</li>

          <li><span class="fa-li"><i class="fas fa-check fa-sm" aria-hidden="true"></i></span>Complete Online
            Access To 1 Year of Back Issues</li>
        </ul>

      </div>
    </div>

    <div class="accordion" id="accordionTwo">
      <div class="card card-border card-border--platinum mb-1">
        <div id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
              aria-controls="collapseOne">
              Concealed Carry Magazine
            </button>
          </h5>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne">
          <div class="card-body">

            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check fa-sm" aria-hidden="true"></i></span>Complete Print +
                Digital Subscription (8 issues per Year)</li>

              <li><span class="fa-li"><i class="fas fa-check fa-sm" aria-hidden="true"></i></span>Complete Online
                Access To 5 Years of Back Issues</li>
            </ul>

          </div>
        </div>
      </div>
      <div class="card card-border card-border--platinum mb-1">
        <div id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
              aria-expanded="false" aria-controls="collapseTwo">
              Education
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo">
          <div class="card-body">
            <ul class="fa-ul">

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>"Ask an Attorney"
                Monthly Webinar</li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Online Access to
                80+ Guides and eBooks</li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>CCW Permit &
                Reciprocity Map</li>
              <li class="ml-3"><i class="fa-li fas fa-square" aria-hidden="true"></i>Notification of CCW Permit
                Expiration</li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Exclusive App Features</li>
              <li class="ml-3"><i class="fa-li fas fa-square" aria-hidden="true"></i>Customizable CCW Map</li>
              <li class="ml-3"><i class="fa-li fas fa-square" aria-hidden="true"></i>CCW Alerts When Crossing State
                Lines</li>
              <li class="ml-3"><i class="fa-li fas fa-square" aria-hidden="true"></i>Bookmarked Attorney Contact
                Information</li>
              <li class="ml-3"><i class="fa-li fas fa-square" aria-hidden="true"></i>"Find an Attorney" Map</li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Weekly eNewsletters</li>
              <li class="ml-3 font-italic"><i class="fa-li fas fa-square" aria-hidden="true"></i>Concealed Carry Report</li>
              <li class="ml-3 font-italic"><i class="fa-li fas fa-square" aria-hidden="true"></i>Into The Fray</li>
              <li class="ml-3 font-italic"><i class="fa-li fas fa-square" aria-hidden="true"></i>Pacifiers &
                Peacemakers</li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>10+ Lifesaving Checklists</li>

            </ul>
          </div>
        </div>
      </div>
      <div class="card card-border card-border--platinum mb-1">
        <div id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
              aria-expanded="false" aria-controls="collapseThree">
              Training
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree">
          <div class="card-body">

            <ul class="fa-ul">

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Weekly Training Drills</li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Live Training Broadcasts
                <br>
                <span class="font-italic">4 Times per Year</span></li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Online Video Library</li>
              <li class="ml-3"><i class="fa-li fas fa-square" aria-hidden="true"></i>Complete Proving Ground Video
                Series</li>
              <li class="ml-3"><i class="fa-li fas fa-square" aria-hidden="true"></i>Situational Awareness Digital
                Video</li>


              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Access to USCCA Certifed Instructor
                Network</li>

            </ul>

          </div>
        </div>
      </div>

      <div class="card card-border card-border--platinum mb-1">
        <div id="headingFour">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour"
              aria-expanded="false" aria-controls="collapseFour">
              Legal Protection*
            </button>
          </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour">
          <div class="card-body">

            <ul class="fa-ul">

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>$1,000,000 in
                Self-Defense SHIELD Protection <span class="font-weight-light font-italic">Defense &amp; Damages</span></li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>$150,000 in
                Self-Defense SHIELD Protection <span class="font-weight-light font-italic">Criminal Defense, Bail Bond
                  Funding, Attorney Retainer</span></li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>24/7/365 Critical Response Team</li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Your Choice of Attorney or Access
                to USCCA Attorney Network</li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>100% Up-Front Protection for All Legal
                Weapons of Opportunity
                <br>
                <span class="font-weight-light font-italic">(No Deductible, No Reimbursement)</span>
              </li>

            </ul>

          </div>
        </div>
      </div>

      <div class="card card-border card-border--platinum mb-1">
        <div id="headingFive">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive"
              aria-expanded="false" aria-controls="collapseFive">
              USCCA Community
            </button>
          </h5>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive">
          <div class="card-body">

            <ul class="fa-ul">

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Community Giving
                Program
                <br>
                <span class="font-italic">1% of Your Membership Donated</span></li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Invitation to Join Private USCCA
                Member Facebook Group</li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>24/7 Access to Expert Member
                Services Team</li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Free Daily Entry to Annual USCCA Concealed
                Carry Expo</li>

              <li class="ml-3"><i class="fa-li fas fa-square" aria-hidden="true"></i>Platinum Status &amp; Early
                Registration</li>
            </ul>

          </div>
        </div>
      </div>

      <div class="card card-border card-border--platinum mb-1">
        <div id="headingSix">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix"
              aria-expanded="false" aria-controls="collapseSix">
              Member Perks
            </button>
          </h5>
        </div>
        <div id="collapseSix" class="collapse" aria-labelledby="headingSix">
          <div class="card-body">

            <ul class="fa-ul">

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Carry Confidence Kit
                <br>
                <span class="font-italic">Mailed Within 1 Business Day</span></li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Discounts from Education, Training &
                Equipment Partners</li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Discount on Elite Spouse Membership</li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Member Discounts on USCCA
                Books, DVDs & Training Materials</li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Early Bird Access to All Newly
                Released USCCA Products</li>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Elite Membership -->
  <div class="card">
    <img class="card-img-top mx-auto" src="../assets/uscca-logo.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title text-center text-uppercase mb-1">Elite <span class="font-weight-light">Membership</span></h5>
      <div class="horizontal-line mb-2"></div>
      <h6 class="monthly-cost text-center text-uppercase mb-0">$47/Month</h6>
      <p class="card-text text-center text-uppercase mb-2">$497/Year</p>

      <button class="btn btn-elite btn-membership btn-block text-uppercase">Get Elite</button>
    </div>

    <div class="card card-border card-border--elite mb-1 flex-none">

      <div class="card-body">
        <div class="d-block text-center"><i class="fas fa-bullseye fa-3x" aria-hidden="true"></i></div>
        <h6 class="text-center text-uppercase mb-0">$2,000,000</h6>
        <p class="text-center font-weight-light font-italic">in Self-Defense SHIELD Protection</p>


        <ul class="fa-ul">
          <li><span class="fa-li"><i class="fas fa-check fa-sm" aria-hidden="true"></i></span>Complete Print +
            Digital Subscription (8 issues per Year)</li>

          <li><span class="fa-li"><i class="fas fa-check fa-sm" aria-hidden="true"></i></span>Complete Online
            Access To 1 Year of Back Issues</li>
        </ul>

      </div>
    </div>

    <div class="accordion" id="accordionThree">
      <div class="card card-border mb-1">
        <div id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
              aria-controls="collapseOne">
              Concealed Carry Magazine
            </button>
          </h5>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionThree">
          <div class="card-body">

            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check fa-sm" aria-hidden="true"></i></span>Complete Print +
                Digital Subscription (8 issues per Year)</li>

              <li><span class="fa-li"><i class="fas fa-check fa-sm" aria-hidden="true"></i></span>Complete Online
                Access To 14+ Years of Back Issues</li>
            </ul>

          </div>
        </div>
      </div>
      <div class="card card-border mb-1">
        <div id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
              aria-expanded="false" aria-controls="collapseTwo">
              Education
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo">
          <div class="card-body">

            <ul class="fa-ul">

              <li class="font-weight-bold"><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>"Ask an Attorney"
                Monthly Webinar</li>

              <li class="font-weight-bold"><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Online Access to
                80+ Guides and eBooks</li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>CCW Permit &
                Reciprocity Map</li>
              <li class="ml-3"><i class="fa-li fas fa-square" aria-hidden="true"></i>Notification of CCW Permit
                Expiration</li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Exclusive App Features</li>
              <li class="ml-3"><i class="fa-li fas fa-square" aria-hidden="true"></i>Customizable CCW Map</li>
              <li class="ml-3"><i class="fa-li fas fa-square" aria-hidden="true"></i>CCW Alerts When Crossing State
                Lines</li>
              <li class="ml-3"><i class="fa-li fas fa-square" aria-hidden="true"></i>Bookmarked Attorney Contact
                Information</li>
              <li class="ml-3"><i class="fa-li fas fa-square" aria-hidden="true"></i>"Find an Attorney" Map</li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Weekly eNewsletters</li>
              <li class="ml-3 font-italic"><i class="fa-li fas fa-square" aria-hidden="true"></i>Concealed Carry Report</li>
              <li class="ml-3 font-italic"><i class="fa-li fas fa-square" aria-hidden="true"></i>Into The Fray</li>
              <li class="ml-3 font-italic"><i class="fa-li fas fa-square" aria-hidden="true"></i>Pacifiers &
                Peacemakers</li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>10+ Lifesaving Checklists</li>

            </ul>

          </div>
        </div>
      </div>
      <div class="card card-border mb-1">
        <div id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
              aria-expanded="false" aria-controls="collapseThree">
              Training
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree">
          <div class="card-body">

            <ul class="fa-ul">

              <li class="font-weight-bold"><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>eLearning
                Training Systems</li>
              <li class="ml-3 font-weight-bold"><i class="fa-li fas fa-square" aria-hidden="true"></i>Emergency First
                Aid Fundamentals <span class="font-weight-light">($147 Value, Yours FREE)</span></li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Weekly Training Drills</li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Live Training Broadcasts
                <br>
                <span class="font-italic">4 Times per Year</span></li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Online Video Library</li>
              <li class="ml-3"><i class="fa-li fas fa-square" aria-hidden="true"></i>Complete Proving Ground Video
                Series</li>
              <li class="ml-3"><i class="fa-li fas fa-square" aria-hidden="true"></i>When To Use Deadly Force Digital
                Video</li>
              <li class="ml-3"><i class="fa-li fas fa-square" aria-hidden="true"></i>Situational Awareness Digital
                Video</li>


              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Access to USCCA Certifed Instructor
                Network</li>

            </ul>

          </div>
        </div>
      </div>

      <div class="card card-border mb-1">
        <div id="headingFour">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour"
              aria-expanded="false" aria-controls="collapseFour">
              Legal Protection*
            </button>
          </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour">
          <div class="card-body">

            <ul class="fa-ul">

              <li class="font-weight-bold"><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>$2,000,000 in
                Self-Defense SHIELD Protection <span class="font-weight-light font-italic">Defense &amp; Damages</span></li>

              <li class="font-weight-bold"><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>$250,000 in
                Self-Defense SHIELD Protection <span class="font-weight-light font-italic">Criminal Defense, Bail Bond
                  Funding, Attorney Retainer</span></li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>24/7/365 Critical Response Team</li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Your Choice of Attorney or Access
                to USCCA Attorney Network</li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>100% Up-Front Protection for All Legal
                Weapons of Opportunity
                <br>
                <span class="font-weight-light font-italic">(No Deductible, No Reimbursement)</span>
              </li>

            </ul>

          </div>
        </div>
      </div>

      <div class="card card-border mb-1">
        <div id="headingFive">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive"
              aria-expanded="false" aria-controls="collapseFive">
              USCCA Community
            </button>
          </h5>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive">
          <div class="card-body">

            <ul class="fa-ul">

              <li class="font-weight-bold"><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Elite Concierge
                Member
                Services Line</li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Community Giving
                Program
                <br>
                <span class="font-italic">1% of Your Membership Donated</span></li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Invitation to Join Private USCCA
                Member Facebook Group</li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>24/7 Access to Expert Member
                Services Team</li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Free Daily Entry to Annual USCCA Concealed
                Carry Expo</li>

              <li class="ml-3"><i class="fa-li fas fa-square" aria-hidden="true"></i>Advanced Show Entry</li>
              <li class="ml-3 font-weight-bold"><i class="fa-li fas fa-square" aria-hidden="true"></i>Elite VIP
                Experience</li>

            </ul>

          </div>
        </div>
      </div>

      <div class="card card-border mb-1">
        <div id="headingSix">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix"
              aria-expanded="false" aria-controls="collapseSix">
              Member Perks
            </button>
          </h5>
        </div>
        <div id="collapseSix" class="collapse" aria-labelledby="headingSix">
          <div class="card-body">

            <ul class="fa-ul">

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Carry Confidence Kit
                <br>
                <span class="font-italic">Mailed Within 1 Business Day</span></li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Discounts from Education, Training &
                Equipment Partners</li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Discount on Elite Spouse Membership</li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Member Discounts on USCCA
                Books, DVDs & Training Materials</li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Early Bird Access to All Newly
                Released USCCA Products</li>

            </ul>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
</div>

<!-- Membership Benefits -->
<div class="container">
    <div class="row">
        <div class="col text-center my-4">
            <i class="fa fa-star mx-3" aria-hidden="true"></i>
            <i class="fa fa-star mx-3" aria-hidden="true"></i>
            <i class="fa fa-star mx-3" aria-hidden="true"></i>
            <i class="fa fa-star mx-3" aria-hidden="true"></i>
            <i class="fa fa-star mx-3" aria-hidden="true"></i>
        </div>
    </div>
    <h3 class="text-center">Join Today For The Most Comprehensive Self-Defense Education, Training & Legal Protection            
        <small class="d-block mt-3 mb-5 text-muted">You're protected the INSTANT you join and can start training right away.</small>
    </h3>
    <div class="row">
        <div class="col">
            <h5>Concealed Carry Magazine
                <hr class="hr-secondary">
            </h5>
            <p>Subscribe today to the award-winning Concealed Carry Magazine and you’ll get:</p>
            <ul class="fa-ul">
                <li><span class="fa-li"><i class="fas fa-square-full"></i></span>Receive 8 print & digital issues per year of the award-winning publication.</li>
                <li><span class="fa-li"><i class="fas fa-square-full"></i></span>Get practical drills and training from industry experts people who actually carry every day.</li>
                <li><span class="fa-li"><i class="fas fa-square-full"></i></span>Save time and money with unbiased gun & gear reviews and read true stories of self-defense from people just like you.</li>
                <li><span class="fa-li"><i class="fas fa-square-full"></i></span>Stay informed on laws and news that affect all responsibly armed Americans so you don't fall victim to the justice system.</li>
            </ul>
        </div>
        <div class="col d-none d-md-block"><img class="img-fluid" src="../../assets/ccm-and-digital-tablet.png"></div>
    </div>
    <div class="row">
        <div class="col d-none d-md-block"><img class="img-fluid" src="../../assets/ccm-and-digital-tablet.png"></div>
        <div class="col">
            <h5>Industry-Leading Education
                <hr class="hr-secondary">
            </h5>
            <ul class="fa-ul">
                <li><span class="fa-li"><i class="fas fa-square-full"></i></span>Receive instant access to a vast collection of lifesaving guides, eBooks & checklists that cover everything from choosing your handgun to the justified use of deadly force.</li>
                <li><span class="fa-li"><i class="fas fa-square-full"></i></span>Use your CCW Reciprocity Map to ensure you know exactly where you can and can NOT carry your firearm.</li>
                <li><span class="fa-li"><i class="fas fa-square-full"></i></span>Unlock exclusive member-only features in the USCCA App like the attorney locator and permit notifications for when you cross state borders.</li>
                <li><span class="fa-li"><i class="fas fa-square-full"></i></span>Look forward to  weekly updates on gun news and law changes from USCCA President & Founder Tim Schmidt.</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5>First-Class Training
                <hr class="hr-secondary"></h5>
            <ul class="fa-ul">
                <li><span class="fa-li"><i class="fas fa-square-full"></i></span>Train for real world scenarios with over 5 hours of scenario-based training waiting in your online video library.</li>
                <li><span class="fa-li"><i class="fas fa-square-full"></i></span>Keep your skills sharp with practical training drills sent to your inbox every week.</li>
                <li><span class="fa-li"><i class="fas fa-square-full"></i></span>Finally get practical in-person training on concealed carry, home defense, and defensive shooting fundamentals from a Certified USCCA Instructor.</li>
            </ul>
        </div>
        <div class="col d-none d-md-block"><img class="img-fluid" src="../../assets/ccm-and-digital-tablet.png"></div>
    </div>
    <div class="row">
        <div class="col d-none d-md-block"><img class="img-fluid" src="../../assets/ccm-and-digital-tablet.png"></div>
        <div class="col">
            <h5>Trusted Legal Protection
                <hr class="hr-secondary">
            </h5>
            <ul class="fa-ul">
                <li><span class="fa-li"><i class="fas fa-square-full"></i></span>Sleep better at night knowing you have access to up to $2,250,000 in up-front protection that covers ANY legal weapon of opportunity.</li>
                <li><span class="fa-li"><i class="fas fa-square-full"></i></span>Enjoy peace of mind knowing your Critical Response Team is just one call away 24/7/365 to walk you through the aftermath of a self-defense incident.</li>
                <li><span class="fa-li"><i class="fas fa-square-full"></i></span>Have the freedom to choose your own attorney or simply choose one that specializes in firearms and self-defense case law from the USCCA Attorney Network.</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5>USCCA Community
                <hr class="hr-secondary"></h5>
            <ul class="fa-ul">
                <li><span class="fa-li"><i class="fas fa-square-full"></i></span>Give advice, share stories, or have a friendly debate with a fellow responsibly armed American in the USCCA's private member-only Facebook group.</li>
                <li><span class="fa-li"><i class="fas fa-square-full"></i></span>Make a difference knowing a portion of your membership provides lifesaving training to your community through the USCCA's Community Giving Program.</li>
                <li><span class="fa-li"><i class="fas fa-square-full"></i></span>Join thousands of like-minded patriots at the Annual Concealed Carry Expo and get in for free.</li>
                <li><span class="fa-li"><i class="fas fa-square-full"></i></span>Have 24/7 access to the USCCA's Expert Member Services Team – Veterans, former LEOs, and responsibly armed women waiting to answer your call and help you on your journey.</li>
            </ul>
        </div>
        <div class="col d-none d-md-block"><img class="img-fluid" src="../../assets/ccm-and-digital-tablet.png"></div>
    </div>
    <div class="row">
        <div class="col d-none d-md-block"><img class="img-fluid" src="../../assets/ccm-and-digital-tablet.png"></div>
        <div class="col">
            <h5>Exclusive Member Perks
                <hr class="hr-secondary">
            </h5>
            <ul class="fa-ul">
                <li><span class="fa-li"><i class="fas fa-square-full"></i></span>Prepare for the unthinkable with your Carry Confidence Kit – mailed within 48 hours after you join.</li>
                <li><span class="fa-li"><i class="fas fa-square-full"></i></span>Get early bird access and receive huge discounts on USCCA training, gear and spouse membership.</li>
                <li><span class="fa-li"><i class="fas fa-square-full"></i></span>Enjoy exclusive discounts from trusted industry partners like Crossbreed Holsters, Nine Line Apparel, and OTIS.</li>
            </ul>
        </div>
    </div>
</div>

<!-- Content Section header & subheader -->
<div class="container">
    <div class="row">
        <div class="col text-center my-4">
            <i class="fa fa-star mx-3" aria-hidden="true"></i>
            <i class="fa fa-star mx-3" aria-hidden="true"></i>
            <i class="fa fa-star mx-3" aria-hidden="true"></i>
            <i class="fa fa-star mx-3" aria-hidden="true"></i>
            <i class="fa fa-star mx-3" aria-hidden="true"></i>
        </div>
    </div>
    <h3 class="text-center">Want the Same Peace Of Mind Enjoyed By Over 285,000 Responsibly Armed Americans?
        <small class="d-block mt-4 text-muted">Choose Your Level Of USCCA Membership Right Now</small>
    </h3>
    <div class="row">
        <div class="col text-center">
            <button class="btn btn-secondary btn-lg mt-4">Join USCCA Now</button>
        </div>
    </div>
</div>
<!-- end header/subheader -->
