<!-- Content Section header & subheader -->
<div class="container">
  <div class="row">
    <div class="col text-center my-4">
      <i class="fa fa-star mx-3" aria-hidden="true"></i>
      <i class="fa fa-star mx-3" aria-hidden="true"></i>
      <i class="fa fa-star mx-3" aria-hidden="true"></i>
      <i class="fa fa-star mx-3" aria-hidden="true"></i>
      <i class="fa fa-star mx-3" aria-hidden="true"></i>
    </div>
  </div>
  <h6 class="text-secondary text-uppercase text-center"><span class="font-italic">Looking
      For Concealed Carry Insurance?</span> <small class="d-block mt-1">Discover
      How USCCA Membership Will Protect You In Ways Insurance <u class="font-italic">Won't</u>...</small></h6>
  <h3 class="text-center">
    Join Now For The Most Comprehensive
    Self-Defense Education, Training & Legal Protection
  </h3>
  <h6 class="text-center mt-3 text-muted font-italic">Every level of USCCA
    Membership is built to give you <span class="font-weight-bold">Carry
      Confidence&trade;</span> – for increased education, training, and legal
    protection simply choose a higher level...</h6>

  <hr class="hr-secondary mx-auto">
</div>
<!-- end header/subheader -->

<div class="container">
  <div class="card-deck">
    <!-----------Gold Membership------------->
    <div class="card">
      <div class="card-body text-center border-0 mb-0 member-highlight">

      </div>
      <div class="card-body text-center card-border card-border--gold mb-0 ">
        <img class="card-img-top mx-auto mb-2" src="../assets/membership-page/gold-shield.png"
             alt="USCCA Gold Shield">
        <h5 class="card-title text-center text-uppercase mb-1">Gold <span class="font-weight-light">Membership</span></h5>
        <div class="horizontal-line horizontal-line--gold mb-2"></div>
        <h6 class="monthly-cost text-center text-uppercase mb-0">$22/Month</h6>
        <p class="card-text text-center text-uppercase mb-2">$247/Year</p>

        <button class="btn btn-gold btn-lg btn-block">Join Now</button>
        <p class="text-center font-italic mb-0 mt-1">100% Risk-Free, Money-Back
          Guarantee</p>

        <button class="btn btn-link d-md-none js-button-toggle" data-toggle="collapse"
                data-target="#collapseGold" aria-expanded="true" aria-controls="collapseGold">
          <i class="fa fa-chevron-down fa-2x" aria-hidden="true"></i>
        </button>

      </div>

      <div id="accordionGold">
        <div id="collapseGold" class="js-accordion-toggle collapse show"
             aria-labelledby="headingOne" data-parent="#accordionGold">

          <!-- Concealed Carry Magazine-->
          <div class="card-body card-border card-border--gold border-top-0">
            <h5 class="mb-2">Concealed Carry Magazine</h5>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check fa-sm" aria-hidden="true"></i></span>Complete
                Print +
                Digital Subscription (8 issues per Year)</li>

              <li><span class="fa-li"><i class="fas fa-check fa-sm" aria-hidden="true"></i></span>Complete
                Online
                Access To <span class="text-secondary font-weight-bold">1 Year</span>
                of Back Issues</li>
            </ul>
          </div>

          <!-- Education -->
          <div class="card-body card-border card-border--gold border-top-0">
            <h5 class="mb-2">Education</h5>
            <ul class="fa-ul">
              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>CCW
                Reciprocity Map With Permit Expiration
                Reminders</li>
              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Member-Only
                USCCA App Features</li>
              <li class="ml-3"><i class="fa-li fas fa-square-full text-primary"
                   aria-hidden="true"></i>CCW Alerts When
                Crossing State Lines</li>
              <li class="ml-3"><i class="fa-li fas fa-square-full text-primary"
                   aria-hidden="true"></i>"Find an
                Attorney" Map</li>
              <li class="ml-3"><i class="fa-li fas fa-square-full text-primary"
                   aria-hidden="true"></i>Quick Access To
                Attorney Contact Info</li>
              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Weekly
                updates on news, changing laws, and
                gear reviews</li>
              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>10
                Lifesaving Checklists</li>
              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Digital
                Access to <span class="text-secondary font-weight-bold">15</span>
                Lifesaving Guides & eBooks</li>
            </ul>
          </div>

          <!-- Training -->
          <div class="card-body card-border card-border--gold border-top-0">
            <h5 class="mb-2">Training</h5>
            <ul class="fa-ul">
              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Weekly
                Training Drills</li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Live
                Training Broadcasts With Industry
                Experts <span class="font-italic">(3 Times per Year)</span></li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Access
                to Nationwide USCCA Certified
                Instructor Network</li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Member-Only
                Online Video Library</li>
              <li class="ml-3 font-italic"><i class="fa-li fas fa-square-full text-primary"
                   aria-hidden="true"></i>Proving
                Ground Scenario-Based Training Series (Over 30 Videos)</li>
            </ul>
          </div>

          <!-- Legal Proection -->
          <div class="card-body card-border card-border--gold border-top-0">
            <h5 class="mb-2">Legal Protection*</h5>
            <ul class="fa-ul">
              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i><span
                      class="text-secondary font-weight-bold">$500,000</span>
                in Self-Defense SHIELD Protection For <span class="font-weight-light font-italic">Civil
                  Defense &amp; Damages</span></li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i><span
                      class="text-secondary font-weight-bold">$100,000</span>
                in Self-Defense SHIELD Protection For <span class="font-weight-light font-italic">Criminal
                  Defense, Bail Bond Funding & Attorney Retainer</span></li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>24/7/365
                Critical Response Team</li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Your
                Choice of Attorney or Access
                to USCCA Attorney Network</li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Up-Front
                Protection for All Legal
                Weapons of Opportunity</li>
            </ul>
          </div>

          <!-- USCAA Community -->
          <div class="card-body card-border card-border--gold border-top-0">
            <h5 class="mb-2">USCCA Community</h5>
            <ul class="fa-ul">
              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Community
                Giving Program – Your Membership
                Provides Free Training To Your Community
              </li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>24/7
                Access to Expert Member
                Services Team</li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Free
                Daily Entry to Annual USCCA Concealed
                Carry Expo</li>
            </ul>
          </div>

          <!-- Member Perk -->
          <div class="card-body card-border card-border--gold border-top-0">
            <h5 class="mb-2">Member Perks</h5>
            <ul class="fa-ul">
              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Exclusive
                Discount on Gold Spouse
                Membership</li>
              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Carry
                Confidence Kit
                <br>
                <span class="font-italic">Mailed Within 1 Business Day</span></li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Member-Only
                Discounts on USCCA Training &
                Gear</li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Early
                Bird Access to Newly Released
                Training & Gear</li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Huge
                Discounts from Trusted Industry
                Partners</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-----------Platinum Membership------------>
    <div class="card mb-3">
      <div class="card-body text-center border-0 member-highlight member-highlight--platinum">
        <span class="d-inline-block align-middle">MOST POPULAR</span>
      </div>

      <div class="card-body text-center card-border card-border--platinum mb-0 ">
        <img class="card-img-top mx-auto mb-2" src="../assets/membership-page/platinum-shield.png"
             alt="USCCA Platinum Shield">
        <h5 class="card-title text-center text-uppercase mb-1">Platinum <span
                class="font-weight-light">Membership</span></h5>
        <div class="horizontal-line horizontal-line--platinum mb-2"></div>
        <h6 class="monthly-cost text-center text-uppercase mb-0">$30/Month</h6>
        <p class="card-text text-center text-uppercase mb-2">$347/Year</p>

        <button class="btn btn-lg btn-platinum btn-block">Join Now</button>
        <p class="text-center font-italic mb-0 mt-1">100% Risk-Free, Money-Back
          Guarantee</p>

        <button class="btn btn-link d-md-none js-button-toggle" data-toggle="collapse"
                data-target="#collapsePlatinum" aria-expanded="true"
                aria-controls="collapsePlatinum">
          <i class="fa fa-chevron-down fa-2x" aria-hidden="true"></i>
        </button>
      </div>

      <div id="accordionPlatinum">
        <div id="collapsePlatinum" class="js-accordion-toggle collapse show"
             aria-labelledby="headingOne" data-parent="#accordionPlatinum">

          <!-- Concealed Carry Magazine-->
          <div class="card-body card-border card-border--platinum border-top-0">
            <h5 class="mb-2">Concealed Carry Magazine</h5>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check fa-sm" aria-hidden="true"></i></span>Complete
                Print +
                Digital Subscription (8 issues per Year)</li>

              <li><span class="fa-li"><i class="fas fa-check fa-sm" aria-hidden="true"></i></span>Complete
                Online
                Access To <span class="text-secondary font-weight-bold">5 Years</span>
                of Back Issues</li>
            </ul>
          </div>

          <!-- Education -->
          <div class="card-body card-border card-border--platinum border-top-0">
            <h5 class="mb-2">Education</h5>
            <ul class="fa-ul">

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>CCW
                Reciprocity Map With Permit Expiration
                Reminders</li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Member-Only
                USCCA App Features</li>
              <li class="ml-3"><i class="fa-li fas fa-square-full text-primary"
                   aria-hidden="true"></i>CCW Alerts When
                Crossing State Lines</li>
              <li class="ml-3"><i class="fa-li fas fa-square-full text-primary"
                   aria-hidden="true"></i>"Find an
                Attorney" Map</li>
              <li class="ml-3"><i class="fa-li fas fa-square-full text-primary"
                   aria-hidden="true"></i>Quick Access To
                Attorney Contact Info</li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Weekly
                updates on news, changing laws, and
                gear reviews</li>
              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>10
                Lifesaving Checklists</li>
              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Digital
                Access to <span class="text-secondary font-weight-bold">30</span>
                Lifesaving Guides & eBooks</li>
              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Interactive
                "Ask An Attorney"
                Monthly Webinar</li>
            </ul>
          </div>

          <!-- Training -->
          <div class="card-body card-border card-border--platinum border-top-0">
            <h5 class="mb-2">Training</h5>
            <ul class="fa-ul">
              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Weekly
                Training Drills</li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Live
                Training Broadcasts With Industry
                Experts <span class="font-italic">(3 Times per Year)</span></li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Access
                to Nationwide USCCA Certified
                Instructor Network</li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Member-Only
                Online Video Library</li>
              <li class="ml-3 font-italic"><i class="fa-li fas fa-square-full text-primary"
                   aria-hidden="true"></i>Proving
                Ground Scenario-Based Training Series (Over 30 Videos)</li>
              <li class="ml-3 font-italic"><i class="fa-li fas fa-square-full text-primary"
                   aria-hidden="true"></i>Situational
                Awareness Video</li>
            </ul>
          </div>

          <!-- Legal Proection -->
          <div class="card-body card-border card-border--platinum border-top-0">
            <h5 class="mb-2">Legal Protection*</h5>
            <ul class="fa-ul">
              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i><span
                      class="text-secondary font-weight-bold">$1,000,000</span>
                in Self-Defense SHIELD Protection For <span class="font-weight-light font-italic">Civil
                  Defense &amp; Damages</span></li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i><span
                      class="text-secondary font-weight-bold">$150,000</span>
                in Self-Defense SHIELD Protection For <span class="font-weight-light font-italic">Criminal
                  Defense, Bail Bond Funding & Attorney Retainer</span></li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>24/7/365
                Critical Response Team</li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Your
                Choice of Attorney or Access
                to USCCA Attorney Network</li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Up-Front
                Protection for All Legal
                Weapons of Opportunity</li>
            </ul>
          </div>

          <!-- USCAA Community -->
          <div class="card-body card-border card-border--platinum border-top-0">
            <h5 class="mb-2">USCCA Community</h5>
            <ul class="fa-ul">
              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Community
                Giving Program – Your Membership
                Provides Free Training To Your Community
              </li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>24/7
                Access to Expert Member
                Services Team</li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Free
                Daily Entry to Annual USCCA Concealed
                Carry Expo</li>

              <li class="ml-3"><i class="fa-li fas fa-square-full text-primary"
                   aria-hidden="true"></i>Advanced Show
                Entry</li>
            </ul>
          </div>

          <!-- Member Perk -->
          <div class="card-body card-border card-border--platinum border-top-0">
            <h5 class="mb-2">Member Perks</h5>
            <ul class="fa-ul">
              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Exclusive
                Discount on Platinum Spouse
                Membership</li>
              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Carry
                Confidence Kit
                <br>
                <span class="font-italic">Mailed Within 1 Business Day</span></li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Member-Only
                Discounts on USCCA Training &
                Gear</li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Early
                Bird Access to Newly Released
                Training & Gear</li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Huge
                Discounts from Trusted Industry
                Partners</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-----------Elite Membership------------->
    <div class="card mb-3">
      <div class="card-body text-center border-0 mb-0 member-highlight">

      </div>
      <div class="card-body text-center card-border card-border--elite mb-0 ">
        <img class="card-img-top mx-auto mb-2" src="../assets/membership-page/elite-shield.png"
             alt="USCCA Elite Shield">
        <h5 class="card-title text-center text-uppercase mb-1">Elite <span
                class="font-weight-light">Membership</span></h5>
        <div class="horizontal-line horizontal-line--elite mb-2"></div>
        <h6 class="monthly-cost text-center text-uppercase mb-0">$47/Month</h6>
        <p class="card-text text-center text-uppercase mb-2">$497/Year</p>

        <button class="btn btn-elite btn-lg btn-block">Join Now</button>
        <p class="text-center font-italic mb-0 mt-1">100% Risk-Free, Money-Back
          Guarantee</p>

        <button class="btn btn-link d-md-none js-button-toggle" data-toggle="collapse"
                data-target="#collapseElite" aria-expanded="true" aria-controls="collapseElite">
          <i class="fa fa-chevron-down fa-2x" aria-hidden="true"></i>
        </button>
      </div>

      <div id="accordionElite">
        <div id="collapseElite" class="js-accordion-toggle collapse show"
             aria-labelledby="headingOne" data-parent="#accordionElite">

          <!-- Concealed Carry Magazine-->
          <div class="card-body card-border card-border--elite border-top-0">
            <h5 class="mb-2">Concealed Carry Magazine</h5>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check fa-sm" aria-hidden="true"></i></span>Complete
                Print +
                Digital Subscription (8 issues per Year)</li>

              <li><span class="fa-li"><i class="fas fa-check fa-sm" aria-hidden="true"></i></span>Complete
                Online
                Access To <span class="text-secondary font-weight-bold">Lifetime
                  Archive</span> of Back Issues</li>
            </ul>
          </div>

          <!-- Education -->
          <div class="card-body card-border card-border--elite border-top-0">
            <h5 class="mb-2">Education</h5>
            <ul class="fa-ul">

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>CCW
                Reciprocity Map With Permit Expiration
                Reminders</li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Member-Only
                USCCA App Features</li>
              <li class="ml-3"><i class="fa-li fas fa-square-full text-primary"
                   aria-hidden="true"></i>CCW Alerts When
                Crossing State Lines</li>
              <li class="ml-3"><i class="fa-li fas fa-square-full text-primary"
                   aria-hidden="true"></i>"Find an
                Attorney" Map</li>
              <li class="ml-3"><i class="fa-li fas fa-square-full text-primary"
                   aria-hidden="true"></i>Quick Access To
                Attorney Contact Info</li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Weekly
                updates on news, changing laws, and
                gear reviews</li>
              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>10
                Lifesaving Checklists</li>
              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Digital
                Access to <span class="text-secondary font-weight-bold">70+</span>
                Lifesaving Guides & eBooks</li>
              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Interactive
                “Ask An Attorney” Monthly
                Webinar + Complete Archive</li>
            </ul>
          </div>

          <!-- Training -->
          <div class="card-body card-border card-border--elite border-top-0">
            <h5 class="mb-2">Training</h5>
            <ul class="fa-ul">
              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Weekly
                Training Drills</li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Live
                Training Broadcasts With Industry
                Experts <span class="font-italic">(3 Times per Year)</span></li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Access
                to Nationwide USCCA Certified
                Instructor Network</li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Member-Only
                Online Video Library</li>
              <li class="ml-3 font-italic"><i class="fa-li fas fa-square-full text-primary"
                   aria-hidden="true"></i>Proving
                Ground Scenario-Based Training Series (Over 30 Videos)</li>
              <li class="ml-3 font-italic"><i class="fa-li fas fa-square-full text-primary"
                   aria-hidden="true"></i>Situational
                Awareness Video</li>
              <li class="ml-3 font-italic"><i class="fa-li fas fa-square-full text-primary"
                   aria-hidden="true"></i>When
                To Use Deadly Force Video</li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>10+
                Hours in eLearning Training Systems
                ($344 Value)</li>
              <li class="ml-3 font-italic"><i class="fa-li fas fa-square-full text-primary"
                   aria-hidden="true"></i>Concealed
                Carry & Home Defense Fundamentals</li>
              <li class="ml-3 font-italic"><i class="fa-li fas fa-square-full text-primary"
                   aria-hidden="true"></i>Emergency
                First Aid Fundamentals</li>
            </ul>
          </div>

          <!-- Legal Proection -->
          <div class="card-body card-border card-border--elite border-top-0">
            <h5 class="mb-2">Legal Protection*</h5>
            <ul class="fa-ul">
              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i><span
                      class="text-secondary font-weight-bold">$2,000,000</span>
                in Self-Defense SHIELD Protection For <span class="font-weight-light font-italic">Civil
                  Defense &amp; Damages</span></li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i><span
                      class="text-secondary font-weight-bold">$250,000</span>
                in
                Self-Defense SHIELD Protection For <span class="font-weight-light font-italic">Criminal
                  Defense, Bail Bond Funding & Attorney Retainer</span></li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>24/7/365
                Critical Response Team</li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Your
                Choice of Attorney or Access
                to USCCA Attorney Network</li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Up-Front
                Protection for All Legal
                Weapons of Opportunity</li>
            </ul>
          </div>

          <!-- USCAA Community -->
          <div class="card-body card-border card-border--elite border-top-0">
            <h5 class="mb-2">USCCA Community</h5>
            <ul class="fa-ul">
              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Community
                Giving Program – Your Membership
                Provides Free Training To Your Community
              </li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>24/7
                Access to Expert Member
                Services Team</li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Free
                Daily Entry to Annual USCCA Concealed
                Carry Expo</li>

              <li class="ml-3"><i class="fa-li fas fa-square-full text-primary"
                   aria-hidden="true"></i>Advanced Show
                Entry</li>
              <li class="ml-3"><i class="fa-li fas fa-square-full text-primary"
                   aria-hidden="true"></i>Elite VIP
                Experience</li>
            </ul>
          </div>

          <!-- Member Perk -->
          <div class="card-body card-border card-border--elite border-top-0">
            <h5 class="mb-2">Member Perks</h5>
            <ul class="fa-ul">
              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Exclusive
                Discount on Elite Spouse
                Membership</li>
              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Carry
                Confidence Kit <span class="font-italic">Mailed
                  Within 1 Business Day</span></li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Member-Only
                Discounts on USCCA Training &
                Gear</li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Early
                Bird Access to Newly Released
                Training & Gear</li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Huge
                Discounts from Trusted Industry
                Partners</li>

              <li><i class="fa-li fas fa-check fa-sm" aria-hidden="true"></i>Elite
                Concierge Line <br> (Priority Phone
                Service)</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <h5 class="text-center mb-3">To see full coverage details, download the <a
       href="#">Complete Coverage Form</a></h5>
  <p class="text-center mb-4">*All Self-Defense Shield protection dollar values
    presented in the chart above
    represent the membership coverage limits and are subject to the terms,
    provisions, exclusions and restrictions
    set forth in the coverage form.</p>
</div>

<!-- BPG -->
<div class="container bpg">
  <div class="row">
    <div class="col-lg-4 d-inline-flex">
      <img class="d-block w-50 pb-4" src="../../assets/bp-logo-normal.png" alt="Bullet Proof Guarantee">
    </div>
    <div class="col-lg-6">
      <p class="mb-2">"<strong>Your USCCA Membership is 100% risk-free</strong>
        with our 365-day, money-back guarantee.
        Simply call our Wisconsin-based USCCA Team and you’ll receive a prompt
        and courteous refund, no questions
        asked."</p>
      <div class="pl-0">
        <img class="d-none d-lg-block float-left pr-4" src="../../assets/TimNormal.png"
             alt="Tim Schmidt">
        <img src="../../assets/tim-signature.png" alt="Tim Signature">
        <h6>Tim Schmidt, President | U.S. Concealed Carry Association</h6>
        <hr class="hr-secondary">
      </div>
    </div>
  </div>
</div>
<!-- End BPG -->

<!-- Membership Benefits -->
<div class="container">
  <div class="row">
    <div class="col text-center my-4">
      <i class="fa fa-star mx-3" aria-hidden="true"></i>
      <i class="fa fa-star mx-3" aria-hidden="true"></i>
      <i class="fa fa-star mx-3" aria-hidden="true"></i>
      <i class="fa fa-star mx-3" aria-hidden="true"></i>
      <i class="fa fa-star mx-3" aria-hidden="true"></i>
    </div>
  </div>
  <h3 class="text-center">You're Protected The INSTANT You Join And Can Start
    Training Right Away
    <small class="d-block mt-3 mb-5 text-muted">You won't get this kind of
      value from any organization that
      simply offers you concealed carry insurance...</small>
  </h3>
  <div class="row my-5">
    <div class="col">
      <h4>Concealed Carry Magazine
        <hr class="hr-secondary mb-2">
      </h4>

      <ul class="fa-ul">
        <li><span class="fa-li"><i class="fas fa-square-full"></i></span>8
          print & digital issues per year of the award-winning publication.</li>
        <li><span class="fa-li"><i class="fas fa-square-full"></i></span>Practical
          drills and training from
          industry experts people who actually carry every day.</li>
        <li><span class="fa-li"><i class="fas fa-square-full"></i></span>Save
          time and money with unbiased gun & gear
          reviews and read true stories of self-defense from people just like
          you.</li>
        <li><span class="fa-li"><i class="fas fa-square-full"></i></span>Stay
          informed on laws and news that affect all
          responsibly armed Americans so you don't fall victim to the justice
          system.</li>
      </ul>
    </div>
    <div class="col text-center d-none d-md-block">
      <img class="img-fluid" src="../../assets/ccm-and-digital-tablet.png">
      <p><small><em>Receive 8 issues of Concealed Carry Magazine every year</em></small></p>
    </div>
  </div>
  <div class="row my-5">
    <div class="col text-center d-none d-md-block">
      <img class="img-fluid" src="../../assets/PhoneMockup_2.png">
      <p><small><em>Stay up to date with your CCW Reciprocity Map</em></small></p>
    </div>
    <div class="col">
      <h4>Industry-Leading Education
        <hr class="hr-secondary mb-2">
      </h4>
      <ul class="fa-ul">
        <li><span class="fa-li"><i class="fas fa-square-full"></i></span>Receive
          instant access to a vast collection of
          lifesaving guides, eBooks & checklists that cover everything from
          choosing your handgun to the justified use
          of deadly force.</li>
        <li><span class="fa-li"><i class="fas fa-square-full"></i></span>Use
          your CCW Reciprocity Map to ensure you
          know exactly where you can and can NOT carry your firearm.</li>
        <li><span class="fa-li"><i class="fas fa-square-full"></i></span>Unlock
          exclusive member-only features in the
          USCCA App like the attorney locator and permit notifications for when
          you cross state borders.</li>
        <li><span class="fa-li"><i class="fas fa-square-full"></i></span>Look
          forward to weekly updates on gun news and
          law changes from USCCA President & Founder Tim Schmidt.</li>
      </ul>
    </div>
  </div>
  <div class="row my-5">
    <div class="col">
      <h4>First-Class Training
        <hr class="hr-secondary mb-2">
      </h4>
      <ul class="fa-ul">
        <li><span class="fa-li"><i class="fas fa-square-full"></i></span>Train
          for real world scenarios with over 5
          hours of scenario-based training waiting in your online video
          library.</li>
        <li><span class="fa-li"><i class="fas fa-square-full"></i></span>Keep
          your skills sharp with practical training
          drills sent to your inbox every week.</li>
        <li><span class="fa-li"><i class="fas fa-square-full"></i></span>Finally
          get practical in-person training on
          concealed carry, home defense, and defensive shooting fundamentals
          from a Certified USCCA Instructor.</li>
      </ul>
    </div>
    <div class="col text-center d-none d-md-block">
      <img class="img-fluid" src="../../assets/Elearning_Mac_Laptop2.png">
      <p><small><em>Train for real-life scenarios in your online video library</em></small></p>
    </div>
  </div>
  <div class="row my-5">
    <div class="col text-center d-none d-md-block">
      <img class="img-fluid" src="../../assets/Fam.png">
      <p><small><em>Enjoy peace of mind knowing your family is protected for
            the unthinkable</em></small></p>
    </div>
    <div class="col">
      <h4>Trusted Legal Protection
        <hr class="hr-secondary mb-2">
      </h4>
      <ul class="fa-ul">
        <li><span class="fa-li"><i class="fas fa-square-full"></i></span>Sleep
          better at night knowing you have access
          to up to $2,250,000 in up-front protection that covers ANY legal
          weapon of opportunity.</li>
        <li><span class="fa-li"><i class="fas fa-square-full"></i></span>Enjoy
          peace of mind knowing your Critical
          Response Team is just one call away 24/7/365 to walk you through the
          aftermath of a self-defense incident.</li>
        <li><span class="fa-li"><i class="fas fa-square-full"></i></span>Have
          the freedom to choose your own attorney
          or simply choose one that specializes in firearms and self-defense
          case law from the USCCA Attorney Network.</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h4>USCCA Community
        <hr class="hr-secondary mb-2">
      </h4>
      <ul class="fa-ul">
        <li><span class="fa-li"><i class="fas fa-square-full"></i></span>Give
          advice, share stories, or have a friendly
          debate with a fellow responsibly armed American in the USCCA's
          private member-only Facebook group.</li>
        <li><span class="fa-li"><i class="fas fa-square-full"></i></span>Make a
          difference knowing a portion of your
          membership provides lifesaving training to your community through the
          USCCA's Community Giving Program.</li>
        <li><span class="fa-li"><i class="fas fa-square-full"></i></span>Join
          thousands of like-minded patriots at the
          Annual Concealed Carry Expo and get in for free.</li>
        <li><span class="fa-li"><i class="fas fa-square-full"></i></span>Have
          24/7 access to the USCCA's Expert Member
          Services Team – Veterans, former LEOs, and responsibly armed women
          waiting to answer your call and help you
          on your journey.</li>
      </ul>
    </div>
    <div class="col text-center d-none d-md-block">
      <img class="img-fluid" src="../../assets/SteveMorganNormal.png">
      <p><small><em>A portion of every membership provides lifesaving training
            to your community</em></small></p>
    </div>
  </div>
  <div class="row my-5">
    <div class="col text-center d-none d-md-block">
      <img class="img-fluid" src="../../assets/perks@2x.png">
      <p class=""><small><em>Unlock huge discounts on USCCA training and gear</em></small></p>
    </div>
    <div class="col">
      <h4>Exclusive Member Perks
        <hr class="hr-secondary mb-2">
      </h4>
      <ul class="fa-ul">
        <li><span class="fa-li"><i class="fas fa-square-full"></i></span>Prepare
          for the unthinkable with your Carry
          Confidence Kit – mailed within 1 business day after you join.</li>
        <li><span class="fa-li"><i class="fas fa-square-full"></i></span>Get
          early bird access and receive huge
          discounts on USCCA training, gear and spouse membership.</li>
        <li><span class="fa-li"><i class="fas fa-square-full"></i></span>Enjoy
          exclusive discounts from trusted
          industry partners like Crossbreed Holsters, Nine Line Apparel, and
          OTIS.</li>
      </ul>
    </div>
  </div>
</div>

<!-- Content Section header & subheader -->
<div class="container">
  <div class="row">
    <div class="col text-center my-4">
      <i class="fa fa-star mx-3" aria-hidden="true"></i>
      <i class="fa fa-star mx-3" aria-hidden="true"></i>
      <i class="fa fa-star mx-3" aria-hidden="true"></i>
      <i class="fa fa-star mx-3" aria-hidden="true"></i>
      <i class="fa fa-star mx-3" aria-hidden="true"></i>
    </div>
  </div>
  <h3 class="text-center">Want the Same Peace Of Mind Enjoyed By Over 285,000
    Responsibly Armed Americans?
    <small class="d-block mt-4 text-muted">Choose Your Level Of USCCA
      Membership Right Now</small>
  </h3>
  <div class="row">
    <div class="col text-center">
      <button class="btn btn-secondary btn-lg mt-4">Join USCCA Now</button>
    </div>
  </div>
</div>
<!-- end header/subheader -->
